.mainindex{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding: $padding;
    .mainTituloindex{
        display: flex;
        font-size: 3rem;
        align-self: center;
        font-weight: 900;
        -webkit-animation: titulo 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: titulo 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    .mainSubtituloindex{
        font-weight: 300;
        font-size: 1.5rem;
        -webkit-animation: subtitulo 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: subtitulo 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    .mainParrafoindex{
        font-weight: 300;
        font-size: 1rem;
        text-align: center;
    }
}